language: php

php:
  - 7.0.21
  - 7.1
  - 7.2

before_script:
  - travis_retry composer install --prefer-source --no-interaction --dev

script:
  - vendor/bin/phpspec run --no-interaction

after_success:
  - bash <(curl -s https://codecov.io/bash)
